* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    display: grid;
    /* mobile first - single column */
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto;
    grid-template-areas: 
      "hdr"
      "ftr"
      "content"
      ;
  }
  
  header {
    grid-area: hdr;
    background-color: #0bf3e7;
  }
  
  form {
    grid-area: ftr;
    background-color: #fcf802;
    align-items: center;
    justify-content: center;
  }
  
  main {
    grid-area: content;
    font-size: 200px, '<relative>';
    font-weight: 500, bold;
    color:rgb(250, 213, 3)
  }
  
  header, main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image {
    background-image: url("https://i.giphy.com/media/xUn3C5pCbNmirpoBqM/giphy.webp" );
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #submit {
      color: rgb(247, 70, 70);
      background-color: rgb(50, 63, 241);
       

  }

  h1 {
    padding-right: 25px;
    
  }
  h2 {
    color:springgreen;
    background-color: black;
    font-size: larger;
  }
  #curr {
    color: gold;
    background-color:rgb(14, 204, 252);




  }