* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    display: grid;
    /* mobile first - single column */
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto;
    grid-template-areas: 
      "hdr"
      "ftr"
      "content"
      ;
  }
  
  header {
    grid-area: hdr;
    background-color: #0bf3e7;
  }
  
  form {
    grid-area: ftr;
    background-color: #fcf802;
  }
  
  main {
    grid-area: content;
  }
  
  header, main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image {
    background-image: url("https://i.giphy.com/media/xUn3C5pCbNmirpoBqM/giphy.webp" ");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn btn-xs btn- {
      color:white;
      background-color: darkgreen; 

  }