* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    display: grid;
    /* mobile first - single column */
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto;
    grid-template-areas: 
      "hdr"
      "ftr"
      "content"
      ;
  }
  
  header {
    grid-area: hdr;
    background-color: #ff9e7a;
  }
  
  form {
    grid-area: ftr;
    background-color: #b1fcc8;
  }
  
  main {
    grid-area: content;
    background-color: #bf9df7;
  }
  
  header, main {
    display: flex;
    justify-content: center;
    align-items: center;
  }